.navbar-minimalist {
  height: 125px;
  background: ivory;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding-left: 2rem;*/
}
.navbar-minimalist img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
@media(max-width:800px){
    .navbar-minimalist img{
        width: 0px;
        height: 0px;
      }
    }

a:link, a:visited {
  background-color: limegreen;
  color: white;
  font-size: 20px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  transition: background-color .5s;
  border-radius: 15%
}



a:hover, a:active {
  background-color: #239023;
}
